services:
  db:
    image: postgres:16
    container_name: nexus_pg
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: nexus_db
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: